.banner-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/capa-house.jpg');

    height:450px;
    background-size:cover;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.banner-principal .descricao{
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}